Ã.preload * {
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -ms-transition: none !important;
     -o-transition: none !important;
}

#header {
     background-color: transparent;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     list-style: none;
     height: 90px;
     width: 100%;
     overflow: hidden;
     position: fixed;
     gap: 30px;
     z-index: 100;
     transition-duration: 0.4s;
     visibility: visible;
}

#header a {
     text-decoration: none;
}

.page-content {
     position: relative;
     z-index: 0;
}

#welcome-container {
     width: 100%;
     height: 100vh;
}

.parallax-image {
     width: 100%;
     height: 100%;
     object-fit: cover;
}

#static-welcome-text {
     color: white;
     position: fixed;
     text-align: center;
     top: 37.5vh;
     width: 100%;
     font-weight: 500;
     font-size: 50px;
     opacity: 0%;
     visibility: hidden;
     animation: fadeIn 2s;
     animation-fill-mode: forwards;
     text-shadow: 0px 0px 15px black;
}

#dynamic-welcome-text {
     color: white;
     position: fixed;
     text-align: center;
     top: 43.5vh;
     width: 100%;
     font-size: 75px;
     font-weight: 800;
     text-shadow: 0px 0px 15px black;
}

#logo {
     width: 100px;
     margin-left: 15px;
     margin-top: 2px;
     transition-duration: 0.4s;
     position: relative;
     z-index: 100;
     transition: width 0.25s ease, margin-top 0.25s ease, filter 0.4s ease;
     user-select: none;
}

#logo-text {
     color: white;
     font-size: 10px;
     transition-duration: 0.4s;
     margin-left: -100px;
     visibility: hidden;
     position: relative;
     z-index: 99;
     opacity: 0%;
     transition: margin-left 1s ease, visibility 1s ease, opacity 1s ease, color 0.4s ease;
     user-select: none;
}

#logo-a:hover~#logo-text {
     margin-left: -20px;
     visibility: visible;
     opacity: 100%;
}

#logo:hover {
     width: 110px;
}

@keyframes fadeIn {
     from {
          visibility: hidden;
          opacity: 0%;
     }

     to {
          visibility: visible;
          opacity: 100%;
     }
}

.highlight {
     background-color: #1b8dffd8;
}

#divider {
     color: white;
     font-size: 30px;
     margin-top: -5px;
     user-select: none;
     position: relative;
     margin-left: -125px;
     transition: margin-left 0.5s ease, color 0.4s ease;
     font-weight: bold;
}

.translate-auxiliary {
     transition: margin-left 0.5s ease;
     position: relative;
     margin-left: -125px;
}

#logo-a:hover~#divider {
     margin-left: -10px;
}

#content1-container {
     /* Credit for image: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.jotform.com%2Fblog%2Fcss-layouts-40-tutorials-tips-demos-and-best-practices%2F&psig=AOvVaw3gM8D5eiyIKJ1aXZf4V72K&ust=1651709326453000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCMCTiY_KxPcCFQAAAAAdAAAAABAD */
     background-image: url("images/web-development.jpeg");
     width: 100%;
     height: 500px;
     position: relative;
     z-index: 100;
}

#content1-flex-container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
     position: relative;
     width: 75%;
     height: 100%;
     left: 50%;
     transform: translateX(-50%);
     text-align: center;
}

.content1-title {
     color: white;
     font-size: 50px;
     font-weight: bold;
     background-color: black;
     opacity: 75%;
}

.content1-text {
     color: white;
     font-size: 20px;
     font-weight: 500;
     background-color: black;
     opacity: 75%;
}

.page {
     color: white;
     font-size: 12.5px;
     margin-left: -5px;
     margin-top: -2px;
     transition: color 0.4s ease;
     user-select: none;
}

#content2-container {
     background-image: linear-gradient(rgb(70, 70, 70), rgb(22, 22, 22));
     width: 100%;
     height: 50vh;
     position: relative;
     z-index: 10;
     /* box-shadow: 50px 0px 50px black; */
}

#content2-title {
     color: white;
     font-family: 'Overpass', sans-serif;
     font-size: 7vw;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

#everything-element {
     font-size: 7vw;
     font-family: 'Shadows Into Light', cursive;
     background: linear-gradient(35deg, #ff0000, #ff7b00, #fffb00, #63ff33, #00ffaa, #00d9ff, #0026ff, #5900ff, #9900ff, #ff00b3);
     -webkit-background-clip: text;
     background-clip: text;
     color: transparent;
     animation: rainbowAnimation 10s ease-in-out infinite;
     background-size: 500% 100%;
     margin: 0;
     padding: 0;
}

@keyframes rainbowAnimation {
     0% {
          background-position: 0% 0%;
     }

     50% {
          background-position: 100% 0%;
     }

     100% {
          background-position: 0% 0%;
     }
}

:root {
     --color: white;
}

.translate-auxiliary:after {
     content: "";
     position: absolute;
     width: 100%;
     height: 4px;
     transform: scaleX(0);
     background-color: var(--color);
     transform-origin: bottom right;
     transition: transform 0.25s ease-out, background-color 0.4s ease;
}

.translate-auxiliary:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
}

.material-icons#back-to-top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: white;
     box-shadow: 0px 5px 10px black;
     color: black;
     width: 50px;
     height: 50px;
     border-radius: 50px;
     transition-duration: 750ms;
     font-size: 50px;
     user-select: none;
     cursor: pointer;
     visibility: hidden;
     z-index: 100;
}

html {
     scroll-behavior: smooth;
}

#content3-container {
     background-color: rgb(233, 233, 233);
     width: 100%;
     position: relative;
     z-index: 10;
     overflow: none;
}

#content3-title {
     color: black;
     text-align: center;
     font-size: 300%;
     top: 3vh;
     padding: 0 7.5% 0 7.5%;
     position: relative;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
}

.down-arrow {
     font-size: 75px;
     user-select: none;
     text-align: center;
     position: relative;
     top: calc(3vh + 50px);
     left: 50%;
     transform: translate(-50%, -50%);
     animation-name: arrowAnimation;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     animation-delay: 0.75s;
     opacity: 100%;
}

@keyframes arrowAnimation {
     0% {
          top: calc(2vh + 50px);
          opacity: 0%;
     }

     50% {
          top: calc(2vh + 50px);
          opacity: 100%;
     }

     75% {
          top: calc(6vh + 50px);
          opacity: 0%;
     }

     100% {
          top: calc(6vh + 50px);
          opacity: 0%;
     }
}

.content3-flex-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: flex-start;
     align-content: flex-start;
     margin-top: 75px;
     /* background-color: green; */
     width: 100%;
}

.shop-item-container {
     width: 500px;
     height: 375px;
     /* background-color: red; */
}

.shop-item-img-container {
     width: 400px;
     height: 300px;
     border-radius: 20px;
     background-color: white;
     position: relative;
     top: 0%;
     left: 50%;
     transform: translateX(-50%);
     /* maybe on hover? --> box-shadow: 2px 2px 20px black; */
}

.shop-item-img {
     height: 90%;
     max-width: 400px;
     border-radius: 20px;
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     pointer-events: none;
}

.shop-item-price {
     background-color: rgb(3, 94, 252);
     width: 150px;
     height: 50px;
     position: absolute;
     bottom: 0;
     right: 0;
     opacity: 85%;
     border-top-left-radius: 20px;
     border-bottom-right-radius: 20px;
     color: white;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     font-size: 25px;
     user-select: none;
     cursor: pointer;
     transition: opacity 0.25s ease;
     text-align: center;
     line-height: 50px;
}

.subscription {
     background-color: rgb(155, 0, 0);
     font-size: 17px;
}

.shop-item-price:hover {
     opacity: 100%;
}

.shop-item-price .material-icons {
     font-size: 17.5px;
}

.subscription .material-icons {
     font-size: 15px;
}

.shop-item-title {
     color: black;
     font-family: 'Poppins', sans-serif;
     font-weight: 400;
     font-size: 20px;
     position: relative;
     left: 11%;
     width: 400px;
     /* background-color: blue; */
}

/* Particles.js */

canvas {
     display: block;
     vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
     position: relative;
     width: 100%;
     height: 100vh;
     background-color: #000000;
     background-image: url("");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: 50% 50%;
     z-index: 9;
}

#content4-flex-container {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     align-content: center;
     gap: 20px 0px;
     color: white;
     font-family: 'Poppins', sans-serif;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     user-select: none;
     pointer-events: none;
     text-align: center;
     width: 75%;
}

.content4-title {
     font-size: 60px;
}

.content4-subtitle {
     font-size: 30px;
}

#editor-redirect-button {
     pointer-events: auto;
     border: 3px white solid;
     border-radius: 40px;
     width: 200px;
     height: 50px;
     position: relative;
     background-color: transparent;
     transition: background-color 0.5s ease;
}

#editor-redirect-img {
     width: 150px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     filter: invert(0);
     transition: filter 0.5s ease;
}

#editor-redirect-button:hover {
     background-color: white;
}

#editor-redirect-button:hover #editor-redirect-img {
     filter: invert(1);
}