.preload * {
     -webkit-transition: none !important;
     -moz-transition: none !important;
     -ms-transition: none !important;
     -o-transition: none !important;
}

#header {
     background-color: transparent;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     align-items: center;
     list-style: none;
     height: 90px;
     width: 100%;
     overflow: hidden;
     position: fixed;
     gap: 30px;
     z-index: 100;
     transition-duration: 0.4s;
}

#header a {
     text-decoration: none;
}

.page-content {
     position: relative;
     z-index: 0;
}

#logo {
     width: 100px;
     margin-left: 15px;
     margin-top: 2px;
     transition-duration: 0.4s;
     position: relative;
     z-index: 100;
     transition: width 0.25s ease, margin-top 0.25s ease, filter 0.4s ease;
     user-select: none;
}

#logo-text {
     color: white;
     font-size: 10px;
     transition-duration: 0.4s;
     margin-left: -100px;
     visibility: hidden;
     position: relative;
     z-index: 99;
     opacity: 0%;
     transition: margin-left 1s ease, visibility 1s ease, opacity 1s ease, color 0.4s ease;
     user-select: none;
}

#logo-a:hover~#logo-text {
     margin-left: -20px;
     visibility: visible;
     opacity: 100%;
}

#logo:hover {
     width: 110px;
}

#divider {
     color: white;
     font-size: 30px;
     margin-top: -5px;
     user-select: none;
     position: relative;
     margin-left: -125px;
     transition: margin-left 0.5s ease, color 0.4s ease;
     font-weight: bold;
}

.translate-auxiliary {
     transition: margin-left 0.5s ease;
     position: relative;
     margin-left: -125px;
}

#logo-a:hover~#divider {
     margin-left: -10px;
}

:root {
     --color: white;
}

.translate-auxiliary:after {
     content: "";
     position: absolute;
     width: 100%;
     height: 4px;
     transform: scaleX(0);
     background-color: var(--color);
     transform-origin: bottom right;
     transition: transform 0.25s ease-out, background-color 0.4s ease;
}

.translate-auxiliary:hover:after {
     transform: scaleX(1);
     transform-origin: bottom left;
}

.material-icons#back-to-top {
     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: white;
     box-shadow: 0px 5px 10px black;
     color: black;
     width: 50px;
     height: 50px;
     border-radius: 50px;
     transition-duration: 750ms;
     font-size: 50px;
     user-select: none;
     cursor: pointer;
     visibility: hidden;
     z-index: 100;
}

.page {
     color: white;
     font-size: 12.5px;
     margin-left: -5px;
     margin-top: -2px;
     transition: color 0.4s ease;
     user-select: none;
}

html {
     scroll-behavior: smooth;
}

#php-content {
     background-image: url("../images/php-background.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 100vh;
}

#github-pages-image {
     filter: invert(1);
     width: 500px;
}

#php-title {
     color: white;
     font-family: 'Poppins', sans-serif;
     font-size: 400%;
     font-weight: bold;
     user-select: none;
     margin-top: -90px;
     position: relative;
}

.php-subtitle {
     color: white;
     font-family: 'Abel', sans-serif;
     font-size: 150%;
     font-weight: 600;
     user-select: none;
}

.php-hyperlink {
     text-decoration-color: white;
     color: white;
     font-family: 'Abel', sans-serif;
     font-size: 125%;
     font-weight: bold;
     user-select: none;
}